# Ambiente: development | production
NODE_ENV=development

# Porta do servidor HTTP
PORT=3000

# URI do MongoDB
# Local (fora do Docker): mongodb://localhost:27017/ingressos
# Docker Compose:         mongodb://mongo:27017/ingressos
# Produção (Atlas):       mongodb+srv://user:pass@cluster.mongodb.net/ingressos
MONGO_URI=mongodb://localhost:27017/ingressos
